/* GLOBAL RULES */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Lato", "Helvetica", sans-serif;
}

/* RULES FOR PROGRESS INDICATOR */
header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    background-color: #f1f1f1;
    z-index: 10;
}

.progress-container {
  width: 100%;
  height: 8px;
  background: #ccc;
}

.progress-bar {
  height: 8px;
  background: #078598;
  width: 0%;
}

.parallax-container {
    height: 520px;
}
/*
/* RULES FOR VIDEO */
video {
    position: absolute;
    width: 100%;
    z-index: -99;
}

/* RULES FOR WEBDOCTITLE */
.webdoctitle {
    right: 65%;
    top: 35%;
    text-align: center;
    position: absolute;
    z-index: 2;
    background: #FFF;
    border-radius: 5px;
    padding: 5px;
}

.webdoctitle h1 {
    font-size: 34px;
    margin: auto;
}

/* RULES FOR WEBDOCTITLE -> DIVIDER */
.divider {
    width: 65px;
    height: 2px;
    background: #333;
    margin: 10px auto;
}

/* RULES FOR CONTENT */
.content {
    background: #2e3436;
    text-align: center;
}

/* RULES FOR CONTENT DIVS */
.content div {
    max-width: 700px;
    margin: 0 auto;
    padding: 2%
}

/* RULES FOR PICTURE ROW */
.gridPic {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.gridPic img {
    width: 100%;
}

/* RULES FOR FADE IN TEXT EFFECT */
p {
	position: relative;
	margin: 2% 5% 1% 5%;
	background-color: rgba(0, 0, 0, 0.6);
	padding: 1em;
	opacity: 0;
}

p.fading {
	animation: fadein 4s;
	animation-fill-mode: forwards;
}

@keyframes fadein {
	0% { opacity:0 ;}
	100% { opacity:1 ;}
}
